@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");

.custom-button{
    background: #393ed8;
  background: -webkit-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -moz-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -ms-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: -o-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  font-weight: 700;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  border-radius: 3rem;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1.25rem;
  text-align: center;
}
.custom-button:hover{
    background: #575bde;
    background: -webkit-linear-gradient(140deg, #575bde 25%, #575bde 100%);
    background: -moz-linear-gradient(140deg, #575bde 25%, #575bde 100%);
    background: -ms-linear-gradient(140deg, #575bde 25%, #575bde 100%);
    background: -o-linear-gradient(140deg, #575bde 25%, #575bde 100%);
    background: linear-gradient(140deg, #575bde 25%, #575bde 100%);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    -webkit-transform: translateY(-1px);
    -moz-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    font-weight: 700;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    border-radius: 3rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.25rem;
    text-align: center;
}
CCardGroup{
    border-radius: 10rem;
}
.overlay-hero{
    /* background: #04b2db; */
    background: #575bde ;
    background: -webkit-linear-gradient(140deg, #00d7af 25%, #575bde 100%);
    background: -moz-linear-gradient(140deg, #00d7af 25%, #575bde 100%);
    background: -ms-linear-gradient(140deg, #00d7af 25%, #575bde 100%);
    background: -o-linear-gradient(140deg, #00d7af 25%, #575bde 100%);
    background: linear-gradient(140deg, #00d7af 25%, #575bde 100%);
}