.c-app{
    background-color: #ffffff;
}
.c-sidebar {
    color: #ebedef;
    background: #021636;
}
.c-footer {
    color: #3c4b64;
    background: #fff;
    border: none;
    /* border-top: 1px solid #1e09c6; */
}
.table-sm th, .table-sm td {
    /* padding-top:1rem ; */
    padding-right: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.3rem;
    text-align: center;
}
