@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
.c-avatar-img{
    height: 37px !important;
}
.special,.table-header{
  
    font-family: Lato, Helvetica, sans-serif;
}
.special:focus,.special.active{
    background: -webkit-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
    background: -moz-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
    background: -ms-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
    background: -o-linear-gradient(140deg, #575bde 25%, #393ed8 100%);
    background: linear-gradient(140deg, #575bde 25%, #393ed8 100%);
    color: white !important;
    font-family: Lato, Helvetica, sans-serif;
}
.custom-label{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 0.87rem;
    font-weight: 600;
}
.custom-details{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 0.87rem;
    font-weight: normal !important;
}
.update-img{
    height: 100px;
    width: 100px;
    border:3px solid #588acc;

}