@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");

#logoText{
    font-family: Lato, Helvetica, sans-serif;
    font-size: 1rem !important;
} 
.sidebar-brand{
    height: 40px !important;
}
.c-sidebar-brand{
    font-size: 18px !important;
}
.c-sidebar-brand:hover{
    color: white !important;
}