@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

.footer-images{
    height: 245.51px;
}
.footer-gap{
    padding-top: 100px;
}
.footer-header{
    font-family: 'Archivo Narrow', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 60px;
line-height: 81px;
text-align: center;
color: #13110C;
}
.footer-minor-details{
    font-family: 'Archivo Narrow', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 32px;
text-align: center;
color: #13110C;
}
.copyright-info{
font-family: 'Archivo Narrow', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #13110C;
margin-top: 80px;
text-align: center;
}