@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
/* -----------------------------------------------------------------------------*/
.content-holder{
  background:  #E5E5E5;
  padding-bottom: 70px;
}
.large-title{
  font-family: 'Archivo Narrow', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 97px;
  color: #13110C;
  
}
.contact-button{
  background: #46AE33;
border-radius: 10px;
font-family:  'Archivo', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 20px;
color: #F7F7F7;
padding: 17px 36px;
}
.contact-button:hover,.contact-button:active,.dwnld-business-button:hover,.dwnld-business-button:active{
  color: #F7F7F7;
  background-color:#198754;
}
.small-title{
font-family: 'Archivo Narrow', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 48px;

color: #13110C;
}
.add-margin{
  margin-top: 20px;
}
.name-title{
  font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
font-family: 'Archivo Narrow', sans-serif;
color: #13110C;
}
.creden-number{
  font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
font-family: 'Archivo Narrow', sans-serif;
color: #46AE33;
}
.star-count{
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #13110C;
}
.height-progress{
  height:8px;
}
::ng-deep.dv-star-rating-star i{
  font-size: 20px;
}
.total-ratings{
  font-family: 'Archivo Narrow', sans-serif;
color: #46AE33;
}
.rate-btn{
  padding:10px 25px;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 17px;
  background-color: #46AE33;
}
.officer-details{
  font-family: 'Archivo Narrow', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 36px;
color: #13110C;
}
.sub-attr{
  margin-right: 9px;
}
.text-style{
  font-family: 'Archivo Narrow', sans-serif;
}
.avatar-img{
  height: 90px !important;
}
.assistance-btn{
border: 2px solid #46AE33 !important;
border-radius: 10px;
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
color: #13110C;
padding: 18px 35px;
}
.assistance-btn:hover{
  color:#F7F7F7;
  background: #46AE33;
}
.dwnld-business-button{
font-family: 'Archivo', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 20px;
background: #46AE33;
border-radius: 10px;
color: #F7F7F7;
padding: 19px 35px;
}
.img-div img{
  height: 300px;
}
.only-head{
  font-family: Archivo Narrow;
font-style: normal;
font-weight: 600;
font-family: 'Archivo Narrow', sans-serif;
color: #13110C;
}
.go-to-class{
  color: #13110C !important;
  text-decoration-color: #13110C !important;
  text-decoration: solid underline;
}
/*________MEDIA QUERIES _____*/
@media all and (max-width:488px){
  .dwnld-business-button{
    margin-bottom: 10px;
  }
}
@media all and (min-width:488px) and (max-width:992px){
  .dwnld-business-button{
    margin-right: 10px;
  }
}
@media all and (max-width:992px){
  .large-title{
    font-size:52px;
    line-height:74px;
  }
  .contact-button{
    font-size: 16px;
    line-height: 23px;
    padding: 14px 28px;
    margin-bottom: 15px;
  }
  .small-title{
    font-size: 22px;
    line-height: 35px;
  }
  .left-div,.right-div{
   clear: both;
   float: unset;
  text-align: center;
  margin-top: 15px;

  }
  .name-title{
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
  .creden-number{
    font-size: 18px;
    line-height: 30px;
  }
  .officer-details{
    font-size: 16px;
    line-height: 23px;
  }
  .assistance-btn{
    font-size: 14px;
    line-height: 20px;
    padding: 12px 30px;
    
  }
  .dwnld-business-button{
    font-size: 14px;
    line-height: 20px;
    padding: 12px 30px;
    
   
  }
 
  .action-buttons{
    text-align: center !important;
  }
  .img-div img{
    height: 180px;
    margin-top: 20px;
  }
  .only-head{
    font-size: 18px;
    line-height: 30px;
  }
}
@media all and (min-width:992px){
  .desktop-gap{
    padding-top:50px;
  }
  .desktop-gap2{
    padding-top: 100px;
  }
  .assistance-btn{
    margin-left: 8px;
  }
  .only-head{
    font-size: 60px;
line-height: 81px;
  }
  .left-div{
    float:left;
  }
  .right-div{
    float: right;
  }
}
@media all and (min-width:992px) and (max-width:1200px){
  .assistance-btn{
    padding: 12px 30px;
  }
  .dwnld-business-button{
    padding: 12px 30px;
  }
  .action-buttons{
    display: flex;
  }
}