@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Montserrat&display=swap');
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
/* -----------------------------------------------------------------------------*/

.content-holder{
  background:url('../../assets/51bg-disney.svg');
  padding-bottom: 70px;
}
.large-title{
  font-family:'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 80px;
  color: #13110C;
  
}
.contact-button{
  background: linear-gradient(95.41deg, #38396F 0%, #D21B30 100%);
  border-radius: 8px;
font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  box-shadow: 0 4px 8px 0 rgba(56, 57, 111, 0.7), 0 6px 20px 0 rgba(210, 27, 48, 0.8);
  color: #FFFFFF;
padding: 12px 36px;
}
.contact-button:hover,.contact-button:active,.dwnld-business-button:hover,.dwnld-business-button:active{
  color: #F7F7F7;
  background-color:#198754;
}
.small-title{
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 43px;
  color: #13110C;
}
.add-margin{
  margin-top: 20px;
}
.name-title{
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
color: #13110C;

}
.creden-number{
 
font-family: 'Jost', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
color: #13110C;
}
.star-count{
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  background: -webkit-linear-gradient(rgba(56, 57, 111, 1), rgba(210, 27, 48, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.progress-label {
  float: left;
  margin-right: 1em;
}
.height-progress{
  height:8px;
}
::ng-deep.dv-star-rating-star i{
  font-size: 20px;
}
.rating-count{
  align-items: baseline;
}
.total-ratings{
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #13110C;
}
.rating-total{
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  color: #13110C;
}
.star-icon{
  color: #FDB813;
  font-size:20px;
  margin-right: 6px;
}
.rate-btn{
  padding:10px 25px;
  font-family: 'Archivo', sans-serif;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 17px;
  background-color: #46AE33;
}
.officer-details{
  font-family: Jost;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 36px;
  color: #13110C;
}
.sub-attr{
  margin-right: 9px;
}
.victims{
  font-family: Jost;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;

text-decoration: 2px solid underline;
text-decoration-color:rgb(106, 107, 155); 
text-underline-offset: 3px;
background: -webkit-linear-gradient(rgba(56, 57, 111, 1), rgba(210, 27, 48, 1));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.text-style{
  font-family: 'Archivo Narrow', sans-serif;
}
.avatar-img{
  height: 90px !important;
}
.assistance-btn{
  border-color: transparent !important;
  background: linear-gradient(95.41deg, #38396F 0%, #D21B30 100%);
  border-radius: 8px;
  font-family:'Jost', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 29px;
box-shadow: 0 4px 8px 0 rgba(56, 57, 111, 0.7), 0 6px 20px 0 rgba(210, 27, 48, 0.8);
color: #FFFFFF;
padding: 15px 25px;
margin-right: 13px;
}
.assistance-btn:hover{
  color:#F7F7F7;
  background: linear-gradient(95.41deg, #38396F 20%, #802842 80%);

}
.dwnld-business-button{
  
   font-family: 'Jost', sans-serif;
  border:2px solid rgba(56, 57, 111, 1);
    background: -webkit-linear-gradient(rgba(56, 57, 111, 1), rgba(210, 27, 48, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-image: -webkit-linear-gradient(rgba(56, 57, 111, 1), rgba(210, 27, 48, 1)) 25% round;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
padding: 12px 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-div img{
  height: 300px;
}
.only-head{
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 69px;
  text-align: center;
  color: #13110C
}
.go-to-class{
  color: #13110C !important;
  text-decoration-color: #13110C !important;
  text-decoration: solid underline;
}
.position-name{
  font-family: Jost;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 69px;
text-transform: uppercase;
color: #0F1D41;

}
.img-overlay-wrap {
  position: relative;
 
}
.img-overlay-wrap img{
  position: absolute;
  top: 52px;
  left: 57px;
  width: 320px;
height: 320px;
border-radius: 50%;
object-fit: fit;
}
/*________MEDIA QUERIES _____*/
@media all and (max-width:488px){
  .dwnld-business-button{
    margin-bottom: 10px;
  }
}
@media all and (min-width:488px) and (max-width:992px){
  .dwnld-business-button{
    margin-right: 10px;
  }
}
@media all and (max-width:992px){
  .large-title{
    font-size:52px;
    line-height:74px;
  }
  .contact-button{
    font-size: 16px;
    line-height: 23px;
    padding: 14px 28px;
    margin-bottom: 15px;
  }
  .small-title{
    font-size: 22px;
    line-height: 35px;
  }
  .left-div,.right-div{
   clear: both;
   float: unset;
  text-align: center;
  margin-top: 15px;

  }
  .name-title{
    font-size: 24px;
    line-height: 36px;
    margin-top: 10px;
  }
  .creden-number{
    font-size: 18px;
    line-height: 30px;
  }
  .officer-details{
    font-size: 16px;
    line-height: 23px;
  }
  .assistance-btn{
    font-size: 14px;
    line-height: 20px;
    padding: 12px 30px;
    
  }
  .dwnld-business-button{
    font-size: 14px;
    line-height: 20px;
    padding: 12px 30px;
    
   
  }
 
  .action-buttons{
    text-align: center !important;
  }
  .img-div img{
    height: 180px;
    margin-top: 20px;
  }
  .only-head{
    font-size: 18px;
    line-height: 30px;
  }
}
@media all and (min-width:992px){
  .desktop-gap{
    padding-top:50px;
  }
  .desktop-gap2{
    padding-top: 100px;
  }
  .assistance-btn{
    margin-right: 8px;
  }
  .only-head{
    font-size: 60px;
line-height: 81px;
  }
  .left-div{
    float:left;
  }
  .right-div{
    float: right;
  }
}
@media all and (min-width:992px) and (max-width:1200px){
  .assistance-btn{
    padding: 12px 30px;
  }
  .dwnld-business-button{
    padding: 12px 30px;
  }
  .action-buttons{
    display: flex;
  }
}